In [9]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [10]:
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

In [11]:
num = []
for i in range(1,11):
    num.append(i)
    i+=1
    print(num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
tup = ('Ali','Ahmed','Farhan')
for i in range(len(tup)):
    print(tup[i])

Ali
Ahmed
Farhan

In [13]:
while i<len(tup):
    print(tup[i])
    i = i + 1

Farhan

In [15]:
z =tup+tup
print(z)

('Ali', 'Ahmed', 'Farhan', 'Ali', 'Ahmed', 'Farhan')

In [16]:
z.count('Ali')

2

In [17]:
z.index('Ali')

0

In [18]:
# Sets --> Unordered, unchangeable and repeatation not allowed that's why when we we don't do indexing in sets. Also when we 
# print the same elements in sets it will give only one time that output

In [19]:
set_1 = {'Ali', 'Ahmed', 'Erdum', 'Arsalan'}
print(type(set_1))

<class 'set'>

In [20]:
print(set_1)

{'Erdum', 'Ali', 'Ahmed', 'Arsalan'}

In [38]:
set_1 = {'Ali', 'Ahmed', 'Erdum', 'Arsalan', 'Ali'}
print(set_1)

{'Erdum', 'Ali', 'Ahmed', 'Arsalan'}

In [39]:
# print(set_1.len('Ali'))

In [40]:
for x in set_1:
    print(x)

Erdum
Ali
Ahmed
Arsalan

In [41]:
print('Bilal' in set_1)

False

In [42]:
set_1.add("Furqan")
set_1

{'Ahmed', 'Ali', 'Arsalan', 'Erdum', 'Furqan'}

In [43]:
set_1.pop()
set_1

{'Ahmed', 'Ali', 'Arsalan', 'Erdum'}

In [44]:
set_2 = {'Kamran', 'Waji', 'Hamza'}
set_1.update(set_2)
set_1

{'Ahmed', 'Ali', 'Arsalan', 'Erdum', 'Hamza', 'Kamran', 'Waji'}

In [45]:
list_1 = ['Manager', 'AM', 'DM', 'Supervisor']
set_1.update(list_1)
set_1

{'AM',
 'Ahmed',
 'Ali',
 'Arsalan',
 'DM',
 'Erdum',
 'Hamza',
 'Kamran',
 'Manager',
 'Supervisor',
 'Waji'}

In [46]:
tup.update(list_1)
tup

AttributeError: 'tuple' object has no attribute 'update'

In [47]:
set_1.remove('Waji')
set_1

{'AM',
 'Ahmed',
 'Ali',
 'Arsalan',
 'DM',
 'Erdum',
 'Hamza',
 'Kamran',
 'Manager',
 'Supervisor'}

In [48]:
set_1.discard('DM')
set_1

{'AM',
 'Ahmed',
 'Ali',
 'Arsalan',
 'Erdum',
 'Hamza',
 'Kamran',
 'Manager',
 'Supervisor'}

In [49]:
set_1.pop()
set_1

{'AM', 'Ali', 'Arsalan', 'Erdum', 'Hamza', 'Kamran', 'Manager', 'Supervisor'}

In [50]:
# set_1.clear()
# set_1

In [51]:
set_2 = {'Ali', 'Ahmed', 'Erdum'}
set_3 = set_2.intersection(set_1)
set_3

{'Ali', 'Erdum'}

In [52]:
set_3

{'Ali', 'Erdum'}